{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-mail UOL</title>
  <link rel="stylesheet" href="{% static 'styles/main.css'%}">
  {% block extra %}{% endblock %}
</head>

<body>
  <div class="container-wrapper">
    <div class="content-wrapper">
      <div class="logo"></div>
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  {% block js %}{% endblock %}
</body>

</html>